.calendar-page-container {
    margin: 100px;
    display: flex;
}

.calendar-container {
    flex: 7; /* 달력 영역이 전체 너비의 70%를 차지 */
}

.participant-list-container {
    flex: 3; /* 참여자 목록 영역이 전체 너비의 30%를 차지 */
    margin-top: 20px;
    border: 1px solid #ddd; /* 경계선 추가 */
    padding: 20px; /* 내부 여백 추가 */
}

.participant-list {
    margin-top: 20px;
}

/* App.css */
.react-calendar {
    border-radius: 10px;
}

.react-calendar__tile--active {
    background: #7fb77e;
    color: white;
    border-radius: 10px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #7fb77e;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.calendar-container,
.participants-container {
    margin: auto;
}

.calendar-container {
    border: none;
    margin-right: 20px;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    border-radius: 30px;
}

.participants-container {
    border: 3px solid;
    border-color: #198754;
    padding: 10px;
    width: 200px;
    flex: 3; /* 참여자 목록 영역이 전체 너비의 30%를 차지 */
    margin-top: 20px;
}
