.calendar-page-container {
    margin: 100px;
    display: flex;
}

.calendar-container {
    flex : 7;
}

.participant-list-container {
    flex: 3; /* 참여자 목록 영역이 전체 너비의 30%를 차지 */
    margin-top: 20px;
    border: 1px solid #ddd; /* 경계선 추가 */
    padding: 20px; /* 내부 여백 추가 */
}

.participant-list {
    margin-top: 20px;
}

/* App.css */
.react-calendar {
    width : 100%;
    height : 100%;
    border-radius: 10px;
}

.react-calendar__tile--active {
    background: #7fb77e;
    color: white;
    border-radius: 10px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #7fb77e;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.calendar-container,
.participants-container,
.List-container {
    margin: auto;
}

.calendar-container {
    border: none;
    margin-right: 20px;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    border-radius: 30px;
}
.List-container{
    border: none;
    
    padding: 10px;
    width: 200px;
    flex: 3; /* 참여자 목록 영역이 전체 너비의 30%를 차지 */
    margin-top: 20px;
    margin-right:10px;
}
.participants-container {
    border: none;
    
    padding: 10px;
    width: 200px;
    flex: 1; /* 참여자 목록 영역이 전체 너비의 30%를 차지 */
    margin-top: 20px;
}
.custom-button{
    margin-right: 10px; /* 오른쪽 여백을 10px로 설정 */
  }
.has-data {
    background-color: #7fb77e;
  }

.custom-button1{
    background-color: red;
    margin-top : 10px;
    color : white;
    width: 200px; /* 원하는 너비 값으로 변경 */
    height: 50px; /* 원하는 높이 값으로 변경 */
    border-radius : 30px;
    border : none;
}
.custom-button1:hover {
    background-color: rgb(155, 0, 0);
    border : none;
  }